*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  min-height: 100vh;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  height: 34px;
  color:#fff;
  text-align: center;
  line-height: 21.6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700; 
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

.result__video-container {
  margin-top: 78px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  line-height: 21.6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color:#fff;
  font-weight: 400;
  margin-bottom: 5px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type="text"] {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  min-width: 225px;
}

.search-form__textfield{
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  font-size: inherit;
  line-height: inherit;
  width: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  position: relative;
}

.search-form__submit-button{
  width: 194px;
  align-self: end;
}

.content__details {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

.title{
  font-size: 75px;
  font-family: Oswald;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent{
  color: #545050;
}

.content__list-container {
  overflow-y: scroll;
  height: 298px;
  width: 100%;
  position: relative;
  padding: 3px;
}

.content__list {
  padding: 1px;
}

.content__list-item {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  gap: 2px;
}

.content__video-card-description-container {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: inherit;
  padding: 6px 0;
}

input {
  appearance: none;
}

input[type='text']:hover {
  cursor: text;
}

input[type='text']:focus {
  outline: none;
}

input[type='text']:active {
  border: 1px solid white;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  padding: 1px;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  inline-size: 100%;
  block-size: 100%;
  border: 1px solid black;
}

.button:focus  {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
  color:#fff
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
